.container-404 {
  margin: 50px 15px;
  padding: 20px 15px;
}

.container-404 h1 {
  color: #333;
  font-weight: 200;
  margin-bottom: 20px;
}

.container-404 p {
  color: #666;
  line-height: 28px;
}

.container-404 p a {
  color: #3f51b5;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

.container-404 p a:hover {
  text-decoration: underline;
}
