<mat-nav-list>
  <h3 matSubheader>Main</h3>
  <a mat-list-item routerLink="/overview" routerLinkActive="active" (click)="onRouterClick()">
    <mat-icon>view_carousel</mat-icon>
    <span fxFlexOffset="30px">Overview</span>
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>Post</h3>
  <a mat-list-item routerLink="/category" routerLinkActive="active" (click)="onRouterClick()">
    <mat-icon>view_module</mat-icon>
    <span fxFlexOffset="30px">Categories</span>
  </a>
  <a mat-list-item routerLink="/post" routerLinkActive="active" (click)="onRouterClick()">
    <mat-icon>subject</mat-icon>
    <span fxFlexOffset="30px">Posts</span>
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>User</h3>
  <a mat-list-item routerLink="/user" routerLinkActive="active" (click)="onRouterClick()">
    <mat-icon>perm_identity</mat-icon>
    <span fxFlexOffset="30px">Users</span>
  </a>
</mat-nav-list>
