<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <div fxLayout="column">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="//thirdqq.qlogo.cn/g?b=oidb&k=Je6UtrECYicVTfh3GlKkbIQ&s=100" />
        </mat-card-header>
        <mat-card-content>
          <a fxLayout="row" (click)="switchNav()">
            <div fxFlex>
              <mat-card-title>{{user.username}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </div>
            <div fxFlex="24px" fxFlexAlign="center">
              <mat-icon *ngIf="primaryNav" color="primary">arrow_drop_down</mat-icon>
              <mat-icon *ngIf="!primaryNav">arrow_drop_up</mat-icon>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
      <app-nav *ngIf="primaryNav" (navigate)="sidenav.close()"></app-nav>
      <mat-nav-list *ngIf="!primaryNav">
        <h3 matSubheader>Account</h3>
        <a mat-list-item routerLink="/user/profile" routerLinkActive="active" (click)="sidenav.close()">
          <mat-icon>account_circle</mat-icon>
          <span fxFlexOffset="30px">Profile</span>
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon>directions_run</mat-icon>
          <span fxFlexOffset="30px">Logout</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="sidenav-button" fxShow="false" fxShow.lt-md="true" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxFlex="auto" class="brand">{{name}}</span>
      <button mat-button [matMenuTriggerFor]="profileMenu" fxShow="true" fxShow.lt-md="false">
        <img class="avatar" src="//thirdqq.qlogo.cn/g?b=oidb&k=Je6UtrECYicVTfh3GlKkbIQ&s=100" /> My account
      </button>
      <mat-menu #profileMenu>
        <a mat-menu-item routerLink="/user/profile" routerLinkActive="active">Profile</a>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <div fxLayout="row">
      <div fxFlex="20%" fxShow="true" fxShow.lt-md="false">
        <app-nav></app-nav>
      </div>
      <div fxFlex="80%" fxFlex.lt-md="100%" class="container">
        <app-title>{{title}}</app-title>
        <router-outlet outlet="main"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
