.container-login {
  margin: 50px 15px;
  padding: 20px 15px;
  background: #fff;
  border-radius: 3px;
  box-shadow: #0000002e 0 15px 40px;
  border: 1px solid #e4e4e4;
}

.container-login h1 {
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
}

.container-login button {
  width: 100%;
}
