<p>
  <button mat-raised-button color="primary" (click)="createUser()">Create User</button>
  <button mat-raised-button *ngIf="!hasSearch" (click)="search()">Search</button>
  <button mat-raised-button *ngIf="hasSearch" color="accent" (click)="search()">Searched</button>
</p>
<ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loading" columnMode="force" [headerHeight]="50" [footerHeight]="50"
  [rowHeight]="64" [reorderable]="false" [externalPaging]="true" [externalSorting]="true" [scrollbarH]="true" [scrollbarV]="false"
  [count]="page.count" [offset]="page.offset" [limit]="page.limit" [sorts]="sorts" (page)="setPage($event)" (sort)="setSorts($event.sorts)">
  <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
  <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
  <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="status">
    <ng-template let-model="row" ngx-datatable-cell-template>
      {{model.statusLabel}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Create Time" prop="createdAt">
    <ng-template let-model="row" ngx-datatable-cell-template>
      {{model.createdAt + '000' | date:'short'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Operation" [sortable]="false">
    <ng-template let-model="row" ngx-datatable-cell-template>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="itemMenu" (click)="openMenu(model)">Action</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<mat-menu #itemMenu="matMenu">
  <button mat-menu-item (click)="viewUser(currModel)">View</button>
  <button mat-menu-item (click)="updateUser(currModel)">Update</button>
  <button mat-menu-item (click)="deleteUser(currModel)">Delete</button>
</mat-menu>